@import "nav.css";
@import "genres.css";

body {
  background-color: #1c305c;
}

.pageHeader {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: x-large;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

}

.type {
  flex-direction: row;
  flex-basis: 30%;
  border: 1.5px dotted black;
  text-align: left;
  color: antiquewhite;
}

.item {
  color: blanchedalmond;
}

header {
  color: antiquewhite;
}